[alias]
  ci = commit
  s  = status
  st = status
  a  = add
  d  = diff
  co = checkout
  b  = branch
  l  = log
  lp = log --decorate --pretty=oneline --abbrev-commit
  sh = show
  pl = pull
  ps = push
[user]
        name = Timo Rössner
        email = troessner@jovoto.com
[push]
        default = tracking                                                                                                                                                                      
[color]                                                                                                                                                                                         
    branch = auto                                                                                                                                                                               
    diff = auto                                                                                                                                                                                 
    status = auto                                                                                                                                                                               
[color "branch"]                                                                                                                                                                                
    current = yellow reverse                                                                                                                                                                    
    local = yellow                                                                                                                                                                              
    remote = green                                                                                                                                                                              
[color "diff"]                                                                                                                                                                                  
    meta = yellow bold                                                                                                                                                                          
    frag = magenta bold                                                                                                                                                                         
    old = red bold                                                                                                                                                                              
    new = green bold                                                                                                                                                                            
[color "status"]                                                                                                                                                                                
    added = yellow                                                                                                                                                                              
    changed = green                                                                                                                                                                             
    untracked = cyan
