[user]
  name = Timo Rößner
  email = timo.roessner@googlemail.com
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = vi
[push]
  default = simple
[pull]
  rebase = true
[rebase]
  autosquash = true
[alias]
  ci = commit
  cim = commit --amend --no-edit
  s  = status
  ss = status --short
  st = stash
  sp = stash pop
  a  = add
  d  = diff
  ds = diff --staged
  co = checkout
  b  = branch
  l  = log
  cp = cherry-pick
  rb = rebase
  re = reset
  lp = log --patch --decorate --pretty=oneline --abbrev-commit
  lst = log --stat --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  changelog = log --pretty=format:'%Cred%h%Creset -%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --no-merges
  sh = show
  pl = pull
  plr = pull --rebase
  ps = push
  psf = push --force-with-lease
  undo-last= reset --soft HEAD^
  unstage = reset HEAD --
  last = log -1 HEAD
  last-5 = log -5 HEAD
  overview = show --name-status
[includeIf "gitdir:~/code/toptal"]
  path = ~/code/toptal/.gitconfig
